  <div class="five fields">
    <div class="field">
      <label>Code</label>
      <input placeholder="100" type="number" name="code" value="{{reading.code}}">
    </div>
    <div class="field">
      <label>Temperature</label>
      <input placeholder="00" type="number" name="temperature" step=".01" value="{{reading.temperature}}">
    </div>
    <div class="field">
      <label>Wind Speed</label>
      <input placeholder="00" type="number" name="windSpeed" step=".01" value="{{reading.windSpeed}}">
    </div>
    <div class="field">
      <label>Wind Direction</label>
      <input placeholder="00" type="number" name="windDirection" value="{{reading.windDirection}}">
    </div>
    <div class="field">
      <label>Pressure</label>
      <input placeholder="00" type="number" name="pressure" value="{{reading.pressure}}">
    </div>
  </div>

